---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";


$link-color: #0f6b85;
$text-color: #303030;
$primary-color: #33A2E1;
$footer-background-color: #0A354D;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'contrast' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 14px;

  @include breakpoint($medium) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever
  }

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  /* devinlife : a link 하이퍼링크 밑줄 없애기 */
  text-decoration: none;
}
